In [1]:
# Realizando o tratamento de colunas quantitativas, outliers e fazendo a numeração(encoding) da coluna Feedback.

In [2]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer
from joblib import load

In [3]:
df = pd.read_csv('dataset_sudeste_simples_realista_outliers-2k.csv')

In [4]:
df.head(15)

    id  idade     renda          cidade categoria  nota feedback
0    1   39.0   5112.57  Belo Horizonte         A   4.5      Bom
1    2   64.0   9510.34  Belo Horizonte         B   5.4     Ruim
2    3   61.0   8970.80       São Paulo         B   5.0     Ruim
3    4   61.0   8526.52  Rio de Janeiro         A   1.8      Bom
4    5   53.0   3531.76         Vitória         B   5.5      Bom
5    6   23.0   7492.18  Rio de Janeiro         B   2.4  Regular
6    7   19.0   2478.38  Belo Horizonte         A   3.0     Ruim
7    8   65.0   4143.16  Belo Horizonte         A   3.4  Regular
8    9   24.0   6109.96         Vitória         A   4.4  Regular
9   10   17.0   8320.09  Belo Horizonte         A   1.6  Regular
10  11   47.0   3356.17       São Paulo         A   4.5     Ruim
11  12   45.0   5402.27  Belo Horizonte         B   0.9      Bom
12  13   34.0   4840.67       São Paulo         A   4.0      Bom
13  14   69.0  12305.15       São Paulo         A   0.9     Ruim
14  15   52.0   3154.52  Belo Horizonte         A   9.4      Bom

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         2000 non-null   int64
 1   idade      1982 non-null   float64
 2   renda      1983 non-null   float64
 3   cidade     1988 non-null   object
 4   categoria  1979 non-null   object
 5   nota       1970 non-null   float64
 6   feedback   1975 non-null   object
dtypes: float64(3), int64(1), object(3)
memory usage: 109.5+ KB

In [6]:
print(df.describe())

                id        idade         renda         nota
count  2000.000000  1982.000000   1983.000000  1970.000000
mean   1000.500000    43.570131   7204.110968     4.965228
std     577.494589    16.166064   3573.795505     2.940147
min       1.000000     1.000000    422.990000    -3.700000
25%     500.750000    30.000000   4189.235000     2.500000
50%    1000.500000    44.000000   7079.250000     5.000000
75%    1500.250000    57.000000  10111.805000     7.300000
max    2000.000000   118.000000  33739.810000    14.600000

In [7]:
print(df.describe(include='all'))

                 id        idade         renda          cidade categoria  \
count   2000.000000  1982.000000   1983.000000            1988      1979
unique          NaN          NaN           NaN               4         2
top             NaN          NaN           NaN  Rio de Janeiro         B
freq            NaN          NaN           NaN             519      1016
mean    1000.500000    43.570131   7204.110968             NaN       NaN
std      577.494589    16.166064   3573.795505             NaN       NaN
min        1.000000     1.000000    422.990000             NaN       NaN
25%      500.750000    30.000000   4189.235000             NaN       NaN
50%     1000.500000    44.000000   7079.250000             NaN       NaN
75%     1500.250000    57.000000  10111.805000             NaN       NaN
max     2000.000000   118.000000  33739.810000             NaN       NaN

               nota feedback
count   1970.000000     1975
unique          NaN        3
top             NaN  Regular
freq            NaN      664
mean       4.965228      NaN
std        2.940147      NaN
min       -3.700000      NaN
25%        2.500000      NaN
50%        5.000000      NaN
75%        7.300000      NaN
max       14.600000      NaN

In [8]:
print("\n### Contagem de valores ausentes ###")
print(df.isnull().sum())

### Contagem de valores ausentes ###
id            0
idade        18
renda        17
cidade       12
categoria    21
nota         30
feedback     25
dtype: int64

In [9]:
mean_idade = df['idade'].mean()
median_nota = df['nota'].median()
mean_renda = df['renda'].mean()

In [10]:
print(f"Media das Idades {mean_idade}")
print(f"Mediada das Notas {median_nota}")
print(f"Valor médio das Rendas {mean_renda} - {mean_renda:.2f}")

Media das Idades 43.57013118062563
Mediada das Notas 5.0
Valor médio das Rendas 7204.110968229955 - 7204.11

In [11]:
Q1 = df['renda'].quantile(0.25)
Q3 = df['renda'].quantile(0.75)
IQR = Q3 - Q1
limite_inferior = Q1 - 1.5 * IQR
limite_superior = Q3 + 1.5 * IQR

In [12]:
print (f"\n\n\t IQR - Campo Renda\n\n")
print(f"Quartis -> Q1: {Q1:-8.2f}  ->  Q3: {Q3:-8.2f}")
print(f"IQR ----- {IQR}")
print(f"Limites - Inf: {limite_inferior:-8.2f}  -> Sup: {limite_superior:-8.2f}")
print(f"\n\n")

	 IQR - Campo Renda


Quartis -> Q1:  4189.24  ->  Q3: 10111.81
IQR ----- 5922.57
Limites - Inf: -4694.62  -> Sup: 18995.66

In [13]:
df['idade'] = df['idade'].fillna(mean_idade)
df['nota'] = df['nota'].fillna(median_nota)
df['renda'] = df['renda'].fillna(mean_renda)

In [14]:
print(df.isnull().sum())

id            0
idade         0
renda         0
cidade       12
categoria    21
nota          0
feedback     25
dtype: int64

In [15]:
df['feedback'] = df['feedback'].fillna("Desconhecido")

In [16]:
print(df.isnull().sum())

id            0
idade         0
renda         0
cidade       12
categoria    21
nota          0
feedback      0
dtype: int64

In [17]:
df.head(15)

    id  idade     renda          cidade categoria  nota feedback
0    1   39.0   5112.57  Belo Horizonte         A   4.5      Bom
1    2   64.0   9510.34  Belo Horizonte         B   5.4     Ruim
2    3   61.0   8970.80       São Paulo         B   5.0     Ruim
3    4   61.0   8526.52  Rio de Janeiro         A   1.8      Bom
4    5   53.0   3531.76         Vitória         B   5.5      Bom
5    6   23.0   7492.18  Rio de Janeiro         B   2.4  Regular
6    7   19.0   2478.38  Belo Horizonte         A   3.0     Ruim
7    8   65.0   4143.16  Belo Horizonte         A   3.4  Regular
8    9   24.0   6109.96         Vitória         A   4.4  Regular
9   10   17.0   8320.09  Belo Horizonte         A   1.6  Regular
10  11   47.0   3356.17       São Paulo         A   4.5     Ruim
11  12   45.0   5402.27  Belo Horizonte         B   0.9      Bom
12  13   34.0   4840.67       São Paulo         A   4.0      Bom
13  14   69.0  12305.15       São Paulo         A   0.9     Ruim
14  15   52.0   3154.52  Belo Horizonte         A   9.4      Bom

In [18]:
outliers = df[(df['renda'] < limite_inferior) | (df['renda'] > limite_superior)]
print(f"\n### Possíveis outliers em 'renda' ###\n\n{outliers}\n")

### Possíveis outliers em 'renda' ###

        id  idade     renda          cidade categoria  nota feedback
57      58    8.0  28177.31         Vitória         A  11.2     Ruim
220    221   92.0  26515.56  Belo Horizonte         A  14.0      Bom
253    254    5.0  29917.66  Belo Horizonte         B  10.3      Bom
834    835   82.0  30299.54  Belo Horizonte         A  -3.7      Bom
881    882    1.0  24462.58  Belo Horizonte         A  13.4      Bom
1441  1442  106.0  33739.81       São Paulo         A  -1.4  Regular

In [19]:
df_clean = df[(df['renda'] >= limite_inferior) & (df['renda'] <= limite_superior)].copy()

In [20]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1994 entries, 0 to 1999
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         1994 non-null   int64
 1   idade      1994 non-null   float64
 2   renda      1994 non-null   float64
 3   cidade     1982 non-null   object
 4   categoria  1973 non-null   object
 5   nota       1994 non-null   float64
 6   feedback   1994 non-null   object
dtypes: float64(3), int64(1), object(3)
memory usage: 124.6+ KB

In [21]:
outliers_v2 = df_clean[(df_clean['renda'] < limite_inferior) | (df_clean['renda'] > limite_superior)]
print(f"\n### Possíveis outliers em 'renda' ###\n\n{outliers_v2}\n")

### Possíveis outliers em 'renda' ###

Empty DataFrame
Columns: [id, idade, renda, cidade, categoria, nota, feedback]
Index: []

In [22]:
df_encoded = pd.get_dummies(df, columns=['feedback'], drop_first=False)

In [23]:
df_encoded_v2 = pd.get_dummies(df, columns=['feedback'], drop_first=False, dtype=int)

In [24]:
df_encoded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     2000 non-null   int64
 1   idade                  2000 non-null   float64
 2   renda                  2000 non-null   float64
 3   cidade                 1988 non-null   object
 4   categoria              1979 non-null   object
 5   nota                   2000 non-null   float64
 6   feedback_Bom           2000 non-null   bool
 7   feedback_Desconhecido  2000 non-null   bool
 8   feedback_Regular       2000 non-null   bool
 9   feedback_Ruim          2000 non-null   bool
dtypes: bool(4), float64(3), int64(1), object(2)
memory usage: 101.7+ KB

In [25]:
df_encoded_v2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     2000 non-null   int64
 1   idade                  2000 non-null   float64
 2   renda                  2000 non-null   float64
 3   cidade                 1988 non-null   object
 4   categoria              1979 non-null   object
 5   nota                   2000 non-null   float64
 6   feedback_Bom           2000 non-null   int64
 7   feedback_Desconhecido  2000 non-null   int64
 8   feedback_Regular       2000 non-null   int64
 9   feedback_Ruim          2000 non-null   int64
dtypes: float64(3), int64(5), object(2)
memory usage: 156.4+ KB

In [26]:
df_encoded.head(15)

,id,idade,renda,cidade,categoria,nota,feedback_Bom,feedback_Desconhecido,feedback_Regular,feedback_Ruim
0,1,39.0,5112.57,Belo Horizonte,A,4.5,True,False,False,False
1,2,64.0,9510.34,Belo Horizonte,B,5.4,False,False,False,True
2,3,61.0,8970.80,São Paulo,B,5.0,False,False,False,True
3,4,61.0,8526.52,Rio de Janeiro,A,1.8,True,False,False,False
4,5,53.0,3531.76,Vitória,B,5.5,True,False,False,False
5,6,23.0,7492.18,Rio de Janeiro,B,2.4,False,False,True,False
6,7,19.0,2478.38,Belo Horizonte,A,3.0,False,False,False,True
7,8,65.0,4143.16,Belo Horizonte,A,3.4,False,False,True,False
8,9,24.0,6109.96,Vitória,A,4.4,False,False,True,False
9,10,17.0,8320.09,Belo Horizonte,A,1.6,False,False,True,False
10,11,47.0,3356.17,São Paulo,A,4.5,False,False,False,True
11,12,45.0,5402.27,Belo Horizonte,B,0.9,True,False,False,False
12,13,34.0,4840.67,São Paulo,A,4.0,True,False,False,False
13,14,69.0,12305.15,São Paulo,A,0.9,False,False,False,True
14,15,52.0,3154.52,Belo Horizonte,A,9.4,True,False,False,False

In [27]:
df_encoded_v2.head(10)

,id,idade,renda,cidade,categoria,nota,feedback_Bom,feedback_Desconhecido,feedback_Regular,feedback_Ruim
0,1,39.0,5112.57,Belo Horizonte,A,4.5,1,0,0,0
1,2,64.0,9510.34,Belo Horizonte,B,5.4,0,0,0,1
2,3,61.0,8970.80,São Paulo,B,5.0,0,0,0,1
3,4,61.0,8526.52,Rio de Janeiro,A,1.8,1,0,0,0
4,5,53.0,3531.76,Vitória,B,5.5,1,0,0,0
5,6,23.0,7492.18,Rio de Janeiro,B,2.4,0,0,1,0
6,7,19.0,2478.38,Belo Horizonte,A,3.0,0,0,0,1
7,8,65.0,4143.16,Belo Horizonte,A,3.4,0,0,1,0
8,9,24.0,6109.96,Vitória,A,4.4,0,0,1,0
9,10,17.0,8320.09,Belo Horizonte,A,1.6,0,0,1,0